@import '../../constants/constants.css';

.inner-table-container-user-booking-dates {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 40px;
	column-gap: 40px;
}

.table-container-user-booking {
	width: 95%;
	height: 100%;
	box-shadow: var(--default-box-shadow);
	border-radius: var(--border-radius-5);
	background-color: var(--secondary-color);
	padding: 20px;
	background-image: linear-gradient(to right bottom, white, #af7ddd);
}

@media only screen and (max-width: 1200px) {
	.inner-table-container-user-booking-dates {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 40px;
		column-gap: 30px;
		justify-items: center;
	}

	.table-container-user-booking {
		overflow-y: auto;
	}

	main {
		height: 93%;
	}
}
